@import "tailwindcss";
@import "./fonts.css";

:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --accent-orange-500: #ffa500;

  --secondary-blue-100: #e4eaf2;
  --secondary-blue-300: #d0e8ff;
  --secondary-blue-400: #a0d1ff;
  --secondary-blue-500: #70baff;
  --secondary-blue-600: #4093ff;
  --secondary-blue-900: #0a3c8f;

  --primary-black-500: #0d1a2a;

  --neutral-white: #f0f8ff;
  --neutral-gray-50: #e6f2fa;
  --neutral-gray-100: #cce6f5;
  --neutral-gray-200: #99cce9;
  --neutral-gray-300: #66b3dd;
  --neutral-gray-500: #338bcd;
}

body {
}
