.beach-bg {
  background-image: url("../src/assets/imgs/beach/la-beach.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-md {
  padding: 1.5rem !important;
}

@media (width >= 768px) {
  .p-md {
    padding: 0rem !important;
  }
}
